body{
    font-family: Arial, sans-serif;
    background-color: #ffdee1;
}
.location{
    font-size: 1ch;
}
.styled-line {
    border: none;           
    border-top: 2px solid #e9aeae; 
    box-shadow: 0 4px 6px rgba(15, 0, 0, 0.678); 
}
header img{
    width: 50px;
    margin-right: 10px;
}
header{
    font-size: 18px;
    font-weight: bold;
}

.first-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.text-section {
    flex: 1;
    max-width: 60%;
    text-align: left;
}

.header, .jpn {
    margin: 0;
}

.jpn {
    color: #d48f30;
    font-size: 2.5rem;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: rgb(204, 82, 82);
    background-color: #fca5e25d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b826522c;
}


.image-section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-top-left-radius: 200px; 
    border-bottom-left-radius: 200px;
}
.galary-container{
    margin-top: 10px;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 80px; 
}

.image-gallery img {
    width: 170px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 90px; 
}

.content-container {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.image-section2 {
    flex: 1;
    max-width: 400px; 
}

.image-section2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.circle-background {
    width: 350px;
    height: 350px; 
    background-color: #f3c1e1;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-section {
    flex: 2; 
    text-align: left;
}

.details-table {
    width: 150ch;
    margin: 20px auto; 
    border: 1px solid #333; 
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif; 
    color: #c04d3d;
    font-size: 18px;
    text-align: left; 
}

.details-table th, .details-table td {
    border: 1px solid #333; 
    padding: 8px; 
}
.container3 {
    display: flex;
    align-items: center;
    gap: 20px; 
    padding: 20px;
}

.image-section3 {
    flex: 1; 
    max-width: 400px; 
}

.image-section3 img {
    width: 75%; 
    height:50%;
    border-radius: 1000px;
}

.text-section3 {
    flex: 2; 
    padding-left: 20px; 
}
.text-section3 p {
    background-color: white;
    padding: 15px;
    border-radius: 8px; 
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}


.content4{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.content-box {
    padding: 20px;
    width: 30%;
}

.content-box h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-box p {
    font-size: 14px;
    line-height: 1.6;
    color: #504e4e;
}

.foot {
    background-color: #f7aab1 ;
    padding: 25px;
    position: relative;
}

.foot img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px; 
    height: auto;
    margin: 10px; 
    border-radius: 5px;
}